@import "tailwindcss";

@layer base {
  body {
    background-color: rgb(241 245 249);
    color: rgb(15 23 42);
  }
}

@layer utilities {
  .chat-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .chat-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .chat-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 9999px;
  }
}